<p style="color: #FFFFFF; margin-top:0;">Внимание, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">Вы успешно изменили пароль. Теперь вы можете войти и найти новые места для рыбалки и многое другое.</p>
