<p style="color: #FFFFFF; text-align: center">"{{environment}}"</p>

<p style="color: #FFFFFF; margin-top:0;">Пользователь, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">С нами связались по следующей причине:</p>
<p style="color: #FFFFFF;">"{{reason}}"</p>
