<p style="color: #FFFFFF; text-align: center">"{{environment}}"</p>

<p style="color: #FFFFFF; margin-top:0;">Пользователь, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">Этот пользователь отметил сообщение: {{postId}} как неуместное</p>
<p style="color: #FFFFFF;">"{{reason}}"</p>
