<p style="color: #FFFFFF; margin-top:0;">Внимание, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">Чтобы изменить пароль, пожалуйста, используйте этот пин-код.</p>

<p style="color: #FFA40A; text-align: center; font-size: 25px; letter-spacing: 15px;">{{pin}}</p>
