<p style="color: #FFFFFF; margin-top:0;">Добро пожаловать, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">Теперь вы стали членом семьи Fish Places. Войдите и найдите лучшую рыбацкую общественность, места для рыбалки и многое другое.</p>
