<p style="color: #FFFFFF; margin-top:0;">Attention, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">You have now successfully changed your password. Now you can login and explore more fishing places</p>
