<p style="color: #FFFFFF; text-align: center">"{{environment}}"</p>

<p style="color: #FFFFFF; margin-top:0;">User, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">Contacted us with the next reason:</p>
<p style="color: #FFFFFF;">"{{reason}}"</p>
