<p style="color: #FFFFFF; margin-top:0;">Attention, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">To change your password please use this pin code.</p>

<p style="color: #FFA40A; text-align: center; font-size: 25px; letter-spacing: 15px;">{{pin}}</p>
