<p style="color: #FFFFFF; margin-top:0;">Welcome, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">You have now became a member of Fish Places family. Log in and discover the best fishing community ever, fishing spots and much more.</p>
