<p style="color: #FFFFFF; margin-top:0;">Увага, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">Ви успішно змінили свій пароль. Тепер ви можете ввійти та знайти нові місця для риболовлі та багато іншого.</p>
