<p style="color: #FFFFFF; text-align: center">"{{environment}}"</p>

<p style="color: #FFFFFF; margin-top:0;">Користувач, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">Зв’язався з нами з наступною причиною:</p>
<p style="color: #FFFFFF;">"{{reason}}"</p>
