<p style="color: #FFFFFF; text-align: center">"{{environment}}"</p>

<p style="color: #FFFFFF; margin-top:0;">Користувач, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">Цей користувач позначив допис: {{postId}} як недоречний</p>
<p style="color: #FFFFFF;">"{{reason}}"</p>
