<html>
  <body style="background-color: #232323; text-align:center; padding:30px; font-size:14px;">
    <div style="background-color: #535353; text-align:left; padding:30px; width:400px; margin:auto;">
      {{content}}
    </div>
    <p style="-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; color: #7C7C7C; font-weight:600; font-size:14px; margin-top:20px;">{{siteName}}</p>
    <p style="-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; color: #7C7C7C; font-size:12px;">Знайдіть найкращі місця для риболовлі разом з нами</p>
  </body>
</html>
