<p style="color: #FFFFFF; margin-top:0;">Увага, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">Щоб змінити свій пароль, будь ласка, використовуйте цей пін-код.</p>

<p style="color: #FFA40A; text-align: center; font-size: 25px; letter-spacing: 15px;">{{pin}}</p>
