<p style="color: #FFFFFF; margin-top:0;">Ласкаво просимо, <span style="color: #FFA40A;">{{name}}</span></p>

<p style="color: #FFFFFF;">Тепер ви стали членом сім'ї Fish Places. Увійдіть і знайдіть найкращу рибальську спільноту, місця для риболовлі та багато іншого.</p>
